<body>
<ul>
  <li id="title">Mongoose News</li>	
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">Saved Articles</a></li>
  <button id="scrape">Scrape Articles</button>
</ul>
<div id="wrapper">
      <h1>New York Times Scraper</h1>
      <div id="articles"></div>
      <div id="notes"></div>
</div>
<!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
    <span class="close">&times;</span>
    <p id="notes"></p>
    <p id="titleinput"></p>
    <p id="bodyinput"></p>
    
    </div>

    </div>

     <style>
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

/* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        height: 80%;
      }

/* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    </style>

</body>

