<body>
<ul>
  <li id="title">Mongoose News</li>	
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">Saved Articles</a></li>
  <button id="scrape">Scrape Articles</button>
</ul>
<div id="wrapper">
      <h1>New York Times Scraper</h1>
      <div id="articles"></div>
      <div id="notes"></div>
</div>

</body>

